# Exclude everything
*

# Except for these file types
!*.py
!*.php
!*.js
!*.css
!*.jpg
!*.jpeg
!*.png
!*.gif
!*.bmp
!*.mp4
!*.avi
!*.mkv
!*.mov
!*.webm
!*.svg
!*.ico

# Allow directories to be added if they contain the allowed files
!*/

# Specific directories to ignore, even if they contain allowed files
__pycache__/
.idea/
.DS_Store
*.log
*.tmp
*.bin
*.ps1
env/
venv/
